<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<!--/*@thymesVar id="userForm" type="com.tsimura.domain.form.UserCreateForm"*/-->
<form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
    <div><label> User Name : <input type="text" th:field="*{username}"/> </label></div>
    <div><label> Password: <input type="password" th:field="*{password}"/> </label></div>
    <div><label> Confirm Password: <input type="password" th:field="*{passwordConfirm}"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
<a th:href="@{/login}">Sign in</a>
</body>
</html>