<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*@thymesVar id="user" type="com.vk.api.sdk.objects.users.UserXtrCounters"*/-->
<div id="profile-panel" class="row profile-panel" th:fragment="profile-panel" th:attr="data-user-id=${user.getId()}">
    <div class="col-lg-11">
        <div class="profile-info detailed-info">
            <div class="vertical-center">
                <img th:src="${user.getPhoto200() != null ? user.getPhoto200() : (user.getPhoto100() != null ? user.getPhoto100() : user.getPhoto50())}" class="big-illustration profile-img"/>
                <span class="profile-data">
                    <h4 th:text="${user.getFirstName() + ' ' + user.getLastName()}" class="profile-name"></h4>
                    <span  class="profile-domain">
                        <a th:href="'https://vk.com/' + ${user.getDomain()}">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                            <span th:text="${user.getDomain()}"></span>
                        </a>
                    </span>
                </span>
                <span id="count-stats" class="profile-stats">
                    <span id="photos-count-stat" class="stat text-center transient invisible-load">
                        <!--/*@thymesVar id="photoCount" type="Integer"*/-->
                        <h6 class="stat-data"></h6>
                        <span>photos</span>
                    </span>
                    <!--/*@thymesVar id="groupsCount" type="Integer"*/-->
                    <span id="groups-count-stat" class="stat text-center transient invisible-load">
                        <h6 class="stat-data"></h6>
                        <span>groups</span>
                    </span>
                    <!--/*@thymesVar id="friendsCount" type="Integer"*/-->
                    <span id="friends-count-stat" class="stat text-center transient invisible-load">
                        <h6 class="stat-data"></h6>
                        <span>friends</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="profile-control text-center">
            <div class="vertical-center">
                <ul>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/photos') ? 'active':''}">
                        <a data-toggle="tooltip" data-placement="right" data-tooltip-style="light" title="Browse Photos"
                           class="btn" th:href="@{/photos(user_id = ${user.getId()})}">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/friends') ? 'active':''}">
                        <a data-toggle="tooltip" data-placement="right" data-tooltip-style="light" title="Browse Friends"
                           class="btn" th:href="@{/friends(user_id = ${user.getId()})}">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/groups') ? 'active':''}">
                        <a data-toggle="tooltip" data-placement="right" data-tooltip-style="light" title="Manage Groups"
                           class="btn" th:href="@{/groups}">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>