<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="scripts">
    <script src="/static/js/jquery-2.0.3.min.js" th:src="@{/js/jquery-2.0.3.min.js}"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js" th:src="@{/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>

    <script src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/static/js/bootstrap-select.js" th:src="@{/js/bootstrap-select.js}"></script>
    <script src="/static/js/bootstrap-switch.js" th:src="@{/js/bootstrap-switch.js}"></script>

    <script src="/static/js/flatui-checkbox.js" th:src="@{/js/flatui-checkbox.js}"></script>
    <script src="/static/js/flatui-radio.js" th:src="@{/js/flatui-radio.js}"></script>

    <script src="/static/js/holder.js" th:src="@{/js/holder.js}"></script>

    <script src="/static/js/jquery.tagsinput.js" th:src="@{/js/jquery.tagsinput.js}"></script>
    <script src="/static/js/jquery.placeholder.js" th:src="@{/js/jquery.placeholder.js}"></script>
    <script src="/static/js/jquery.isotope.min.js" th:src="@{/js/jquery.isotope.min.js}"></script>
    <script src="/static/js/jquery.waitforimages.js" th:src="@{/js/jquery.waitforimages.js}"></script>

    <script src="/static/js/typeahead.js" th:src="@{/js/typeahead.js}"></script>
    <script src="/static/bootstrap/js/google-code-prettify/prettify.js" th:src="@{/bootstrap/js/google-code-prettify/prettify.js}"></script>
    <script src="/static/js/application.js" th:src="@{/js/application.js}"></script>


    <script src="/static/js/mustache.js" th:src="@{/js/mustache.js}"></script>
    <script src="/static/js/my-scripts.js" th:src="@{/js/my-scripts.js}"></script>
</th:block>
</body>
</html>