:root {
    --action-color: #16a085;
    --action-color-hover: #1abc9c;

    --dark-color: #34495E;
}

.container{
    padding: 50px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

    display: flex;
    align-items: center;
}

.search-form {
    margin-bottom: 25px;
}

.result-search {
    margin-bottom: 50px !important;
}

/* User-Info */

.profile-panel {
    position: relative;
    margin-bottom: 50px;
}

.profile-info {
    background-color: var(--dark-color) !important;
}

.profile-info .tile-title{
    color: #ffffff;
}

.profile-info .profile-img {
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.detailed-info {
    padding: 25px;
}

.detailed-info .profile-data,
.detailed-info .profile-stats {
    margin-left: 25px;
    color: #fff;
}

.detailed-info .profile-data {
    padding-right: 25px;
    border-right: 1px solid #fff;
}

.detailed-info .profile-data .profile-name {
    margin-bottom: 5px;
}

.detailed-info .profile-data .profile-domain a {
    opacity: 0.8;
    color: #fff;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.detailed-info .profile-data .profile-domain a:hover {
    opacity: 1;
}


.detailed-info .profile-stats {
    opacity: 0.8;
}

.detailed-info .profile-stats .stat {
    margin-right: 25px;
    float: left;
}

.detailed-info .profile-stats .stat h6 {
    margin-bottom: 0px;
}

.detailed-info,
.profile-control {
    height: 256px;
    width: 100%;
    border-radius: 6px;
    position: relative;
}

.profile-control {
    background-color: #2c3e50;
}

.profile-control ul {
    list-style: none;
    padding: 0 !important;
    width: 100%;
    margin: 0;
}

.profile-control ul li .btn {
    font-size: 100%;
}

.profile-control ul li.active .btn {
    color: #fff;
}


/* User-Friends */

.user-friends .profile-info {
    background-color: #ECF0F1 !important;
}

.user-friends .profile-info .tile-title{
    color: var(--dark-color) !important;
}

/*
 * Flat UI Merge
 */

/* Tile */

.tile {
    background-color: #eff0f2;
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}
.tile .tile-hot-ribbon {
    display: block;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 82px;
}
.tile p {
    font-size: 15px;
    margin-bottom: 33px;
}
.tile-image {
    height: 100px;
    margin: 31px 0 27px;
    vertical-align: bottom;
}
.tile-image.big-illustration {
    height: 111px;
    margin-top: 20px;
    width: 112px;
}
.tile-title {
    font-size: 20px;
    margin: 0;
}

/* Groups Panel */

/*	--------------------------------------------------
	:: .groups-panel Filter
	-------------------------------------------------- */
.groups-panel .panel {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.groups-panel .panel .btn-group {
    margin: 15px 0 30px;
}
.groups-panel .panel .btn-group .btn {
    transition: background-color .3s ease;
}
.groups-panel .groups-table {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.groups-panel .groups-table .checkbox {
    margin: 0;
    padding: 0;
}
.groups-panel .groups-table tbody tr:hover {
    cursor: pointer;
    background-color: #f3f4f5;
}
.groups-panel .groups-table tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.groups-panel .groups-table tbody tr.selected td {
    background-color: #eee;
}
.groups-panel .groups-table tr td:first-child {
    width: 38px;
}
.groups-panel .groups-table tr td:nth-child(3) {
    width: 35px;
}

.groups-panel .groups-table tr .refresh-group .btn {
    color: var(--action-color);
    background: none;
}
.groups-panel .groups-table tr .refresh-group .btn:hover {
    color: #1abc9c;
}

.groups-panel .groups-table .media-photo {
    width: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.groups-panel .groups-table .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.groups-panel .groups-table .media-body span {
    font-size: .8em;
    margin-right: 20px;
}
.groups-panel .groups-table .media-body span.group-name {
    color: #3498db;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.groups-panel .groups-table .media-body span.group-photos {
    color: var(--action-color);
    font-weight: 700;
}