 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="/static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/static/css/flat-ui.css" th:href="@{/css/flat-ui.css}" rel="stylesheet"/>
    <link href="/static/css/font-awesome/font-awesome.min.css" th:href="@{/css/font-awesome/font-awesome.min.css}" rel="stylesheet"/>
    <link href="/static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/search_form :: search-form"></div><!--/.search-form-->
    <div th:replace="fragments/profile_panel :: profile-panel"></div><!--/.profile-panel-->
    <div class="row user-friends">
        <!--/*@thymesVar id="friends" type="java.util.List<com.vk.api.sdk.objects.users.UserXtrCounters>"*/-->
        <th:block th:each="i : ${#numbers.sequence( 0, friends.size() - 1)}" th:with="friend = ${friends.get(i)}">
            <div th:if="${i % 4} == 0" class="clearfix visible-md-block visible-lg-block"></div>
            <div class="col-md-3 col-lg-3">
                <div class="profile-info tile">
                    <img th:src="${friend.getPhoto200()}" class="tile-image big-illustration profile-img"/>
                    <h3 th:text="${friend.getFirstName() + ' ' + friend.getLastName()}" class="tile-title"></h3>
                    <p></p>
                    <a class="btn btn-info" th:href="'https://vk.com/' + ${friend.getDomain()}">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-success" th:href="@{/photos(user_id = ${friend.getId()})}">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div><!-- /.container -->

<!-- Load JS here for greater good =============================-->
<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>