<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Manage Groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="/static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/static/css/flat-ui.css" th:href="@{/css/flat-ui.css}" rel="stylesheet"/>
    <link href="/static/css/font-awesome/font-awesome.min.css" th:href="@{/css/font-awesome/font-awesome.min.css}" rel="stylesheet"/>
    <link href="/static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row text-center" th:fragment="search-form">
        <div class="search-form col-lg-12">
            <form method="post" th:action="@{/groups}">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="group_id" placeholder="Enter Group id..." class="form-control"
                               id="search-query-3"/>
                        <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row breadcrumbs">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <a href="#">Manage Groups</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row groups-panel">
        <section class="content">
            <div class="col-lg-12 col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-inverse" data-target="pagado">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                    <span>Reload Selected</span>
                                </button>
                            </div>
                        </div>
                        <div class="table-container">
                            <table class="table groups-table">
                                <tbody>
                                <!--/*@thymesVar id="groups" type="java.util.List<com.tsimura.domain.Group>"*/-->
                                <th:block th:each="i : ${#numbers.sequence( 0, groups.size() - 1)}" th:with="group = ${groups.get(i)}">
                                    <tr data-status="enter_here">
                                        <td>
                                            <label class="checkbox" th:for="${'checkbox' + i}">
                                                <input type="checkbox" value="" th:id="${'checkbox' + i}" data-toggle="checkbox"/>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="media vertical-center">
                                                <a href="#" class="pull-left">
                                                    <img th:src="${group.getPhoto200()}" class="media-photo"/>
                                                </a>
                                                <div class="media-body">
                                                    <span class="group-name" th:text="${group.getName()}"></span>
                                                    <span class="group-photos" th:text="${countMap.get(group) + ' photos'}"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <form th:action="@{/groups}" method="post" class="refresh-group">
                                                <button class="btn" name="group_id" th:value="${group.getId()}">
                                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Load JS here for greater good =============================-->
<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>