<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Photo Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="/static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/static/css/flat-ui.css" th:href="@{/css/flat-ui.css}" rel="stylesheet"/>
    <link href="/static/css/font-awesome/font-awesome.min.css" th:href="@{/css/font-awesome/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="/static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>

    <link href="/static/css/animated-masonry-gallery.css" th:href="@{/css/animated-masonry-gallery.css}"
          rel="stylesheet" media="screen"/>
    <link href="/static/css/hover-image.css" th:href="@{/css/hover-image.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/search_form :: search-form"></div><!--/.search-form-->
    <div th:replace="fragments/profile_panel :: profile-panel"></div><!--/.profile-panel-->
    <div th:if="${photoCount > 0}" class="row">
        <div class="col-lg-12">
            <div id="gallery">
                <!--<div id="gallery-header">-->
                <!--<div id="gallery-header-center">-->
                <!--<div id="gallery-header-center-left">-->
                <!--<div id="gallery-header-center-left-title">All Galleries</div>-->
                <!--</div>-->
                <!--<div id="gallery-header-center-right">-->
                <!--<div class="gallery-header-center-right-links" id="filter-all">All</div>-->
                <!--<div class="gallery-header-center-right-links" id="filter-studio">Studio</div>-->
                <!--<div class="gallery-header-center-right-links" id="filter-landscape">Landscapes</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div id="gallery-content">
                    <div id="gallery-content-center">
                        <!--/*@thymesVar id="photos" type="java.util.List<com.tsimura.domain.Photo>"*/-->
                        <th:block th:each="i : ${#numbers.sequence( 0, photos.size() - 1)}"
                                  th:with="photo=${photos.get(i)}">
                            <div class="picture">
                                <figure class="effect-lexi">
                                    <img th:src="${photo.getPhoto604()}" class="all studio"/>
                                    <figcaption>
                                        <p>Apollo's last game of pool was so strange.</p>
                                        <a href="#">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load JS here for greater good =============================-->
<th:block th:replace="fragments/scripts :: scripts"></th:block>
<script src="/static/js/jquery.isotope.min.js" th:src="@{/js/jquery.isotope.min.js}"></script>
<script src="/static/js/animated-masonry-gallery.js" th:src="@{/js/animated-masonry-gallery.js}"></script>

<input name="animation" type="hidden"/>
</body>
</html>